In [2]:
%reload_kedro

2021-02-11 19:47:58,465 - root - INFO - ** Kedro project coursing-ml
2021-02-11 19:47:58,471 - root - INFO - Defined global variable `context` and `catalog`

In [3]:
embeddings = catalog.load("corpus_embeddings")
embeddings

2021-02-11 19:47:58,480 - kedro.io.data_catalog - INFO - Loading data from `corpus_embeddings` (PickleDataSet)...

tensor([[-4.1152e-01, -9.6174e-04, -4.1992e-01,  ..., -6.9227e-01,
          2.4766e-01, -6.5418e-02],
        [-8.8730e-01,  3.5366e-01, -1.8614e-01,  ..., -8.4088e-02,
          5.9514e-01,  8.6344e-01],
        [-6.2389e-01,  8.6078e-01, -4.4358e-02,  ..., -6.3423e-01,
          4.1411e-01,  3.1607e-02],
        ...,
        [-2.6625e-02, -5.7537e-02, -3.5832e-01,  ...,  6.9599e-01,
          4.0551e-01,  1.3569e+00],
        [-7.0719e-01,  7.4323e-01, -3.9782e-01,  ..., -1.1291e-01,
         -1.7266e-01,  6.9582e-01],
        [-4.1524e-01,  3.1523e-01, -8.6615e-01,  ..., -3.5032e-01,
          5.9689e-01,  1.1567e-01]])

In [7]:
df = catalog.load("clustering_output_udacity")
df

2021-02-11 19:51:20,898 - kedro.io.data_catalog - INFO - Loading data from `clustering_output_udacity` (CSVDataSet)...

,difficulty,duration,free,n_reviews,rating,difficulty_Career Advancement,difficulty_School of Artificial Intelligence,difficulty_School of Autonomous Systems,difficulty_School of Business,difficulty_School of Cloud Computing,difficulty_School of Data Science,difficulty_School of Programming & Development,Label
0,2.0,2.156885,0,0.967871,0.574993,0,0,0,0,0,1,0,4
1,1.0,0.789128,0,0.983936,0.788154,0,0,0,1,0,0,0,5
2,1.0,0.789128,0,0.935743,0.809220,0,0,0,1,0,0,0,5
3,2.0,1.473007,0,0.991968,0.732811,0,1,0,0,0,0,0,4
4,2.0,1.473007,0,0.915663,0.558763,0,0,0,0,0,0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2.0,0.789128,0,0.879518,0.854073,0,1,0,0,0,0,0,4
246,2.0,-0.578630,0,0.000000,0.000000,0,0,0,1,0,0,0,1
247,2.0,2.840764,0,0.911647,0.613715,0,1,0,0,0,0,0,4
248,1.0,0.789128,0,0.963855,0.677144,0,1,0,0,0,0,0,5
249,1.0,0.105249,0,0.823293,0.444812,0,0,0,0,0,1,0,5

In [8]:
df[df['Label']==3].index.tolist()

c:\users\enrmeao\pycharmprojects\coursing\venv\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

[80,
 85,
 94,
 96,
 97,
 100,
 101,
 105,
 111,
 114,
 116,
 125,
 126,
 130,
 136,
 137,
 139,
 140,
 142,
 147,
 148,
 149,
 162,
 164,
 166,
 168,
 173,
 174,
 175,
 176,
 179,
 183,
 184,
 186,
 187,
 189,
 191,
 192,
 194,
 196,
 197,
 198,
 203,
 207]