In [1]:
import pandas as pd
import numpy as np
import dtale
from sklearn.datasets import make_blobs
from sklearn.cluster import DBSCAN
import numpy as np
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
import math
import numpy as np
import numpy.linalg as nla
import pandas as pd
import re
import six
from os.path import join
from matplotlib import pyplot as plt

import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

c:\users\enrmeao\pycharmprojects\coursing\venv\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

2021-06-20 02:38:29,605 - tensorflow - WARNING - From c:\users\enrmeao\pycharmprojects\coursing\venv\lib\site-packages\tensorflow\python\compat\v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [2]:
df = catalog.load("numerical_features_udemy")

2021-06-20 02:38:29,615 - kedro.io.data_catalog - INFO - Loading data from `numerical_features_udemy` (CSVDataSet)...

c:\users\enrmeao\pycharmprojects\coursing\venv\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning:

`should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

In [3]:
df

            cost  n_students    rating     hours
0       1.251246   -1.103005  1.415539  0.006042
1       0.116423   -0.138178  1.415539 -0.833108
2      -0.563619   -1.214076  1.415539  0.006042
3       1.251246   -0.950017  1.415539 -0.833108
4       0.116423   -1.044454  1.415539  0.460875
...          ...         ...       ...       ...
117761 -0.735134   -0.994142  1.415539 -0.833108
117762  0.116423    1.130374  1.415539  1.219086
117763 -0.563619   -1.103005  1.415539  0.460875
117764  0.116423   -1.260437  1.415539 -0.833108
117765 -0.735134    0.181773  1.415539 -1.609340

[117766 rows x 4 columns]

In [4]:
df.isna().sum()

c:\users\enrmeao\pycharmprojects\coursing\venv\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning:

`should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

cost          0
n_students    0
rating        0
hours         0
dtype: int64

In [10]:
import hdbscan
from sklearn.datasets import make_blobs

clusterer = hdbscan.HDBSCAN(min_cluster_size=500, min_samples=1)
cluster_labels = clusterer.fit_predict(df)

c:\users\enrmeao\pycharmprojects\coursing\venv\lib\site-packages\joblib\parallel.py:325: DeprecationWarning:

check_pickle is deprecated in joblib 0.12 and will be removed in 0.13

In [11]:
clusterer

c:\users\enrmeao\pycharmprojects\coursing\venv\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning:

`should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

HDBSCAN(min_cluster_size=500, min_samples=1)

In [12]:
df['Labels'] = cluster_labels

In [13]:
df

            cost  n_students    rating     hours  Labels
0       1.251246   -1.103005  1.415539  0.006042       1
1       0.116423   -0.138178  1.415539 -0.833108       0
2      -0.563619   -1.214076  1.415539  0.006042       1
3       1.251246   -0.950017  1.415539 -0.833108       0
4       0.116423   -1.044454  1.415539  0.460875       2
...          ...         ...       ...       ...     ...
117761 -0.735134   -0.994142  1.415539 -0.833108       0
117762  0.116423    1.130374  1.415539  1.219086       2
117763 -0.563619   -1.103005  1.415539  0.460875       2
117764  0.116423   -1.260437  1.415539 -0.833108       0
117765 -0.735134    0.181773  1.415539 -1.609340       0

[117766 rows x 5 columns]

In [14]:
clusterer.labels_.max()

c:\users\enrmeao\pycharmprojects\coursing\venv\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning:

`should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.

13